@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;

  body {
    font-family: var(--font-pretendard);

    .codeblock {
      font-family: var(--font-jetbrains-mono);
    }
  }
}