@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  ::selection {
    @apply bg-zinc-900 dark:bg-zinc-100;
    @apply text-zinc-100 dark:text-zinc-900;
  }

  body {
    @apply bg-zinc-100 dark:bg-zinc-900;
    font-family: var(--font-pretendard);
  }
}

.company-label {
  @apply flex items-center gap-2;

  > .company-label__name {
    @apply text-lg color-primary;
  }
}